body {
    background: rgb(228, 226, 226);
}

* {
    margin: 0;
    padding: 0;
}

.textFormat {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
}

.textFormatChips {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}


/*Caja de texto*/

.cajaTexto {
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
}

/*Fondos para los dinos*/

.containerFoto{
    height: 220px;
    width: 100%;
}

/*Fondo para nuestro slider*/

.fondo1{
    background: url("../pictures/dinoport1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fondo2{
    background: url("../pictures/dinoport2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*MARGIN CERO*/

.marginCero{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;;
}